/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: normal 125% / 1.4 $text-font-stack;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h4,
.card h4 {
  font-size: 1.2rem;
  color: $brand-color;
}
b{
  color:$brand-color;
  font-weight:bold;
}