@keyframes b {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes b2 {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes b3 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
@keyframes b4 {
  0% {
    width: 0%;
  }
  100% {
    width: 45%;
  }
}
@keyframes text-span {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
// @each $$keyframesName in ("",1,2,3,4) {
  
// }